<ion-content>


  <br>

  
  <app-spinner [shouldISpin]=spinner></app-spinner>
  <img *ngIf="usuario.foto === ''" class="clienteImage" src='https://firebasestorage.googleapis.com/v0/b/comanda-be3d2.appspot.com/o/302-3026464_png-file-svg-login-member-icon-png-removebg-preview.png?alt=media&token=37ac03a0-9a44-4fea-8fb6-cde8fb4c69ba'>
  <img *ngIf="usuario.foto !== ''" class="clienteImage" src="{{usuario.foto}}">
  <!-- Input with placeholder -->
  <ion-item>
    <ion-label>Nombre</ion-label>
    <ion-input placeholder="Nombre" [(ngModel)]='usuario.nombre' ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Apellido</ion-label>
    <ion-input placeholder="Apellido" [(ngModel)]='usuario.apellido'></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>DNI</ion-label>
    <ion-input placeholder="DNI" [(ngModel)]='usuario.dni'></ion-input>
  </ion-item>


  <ion-button color="medium" style="width: 48%" (click)="registrar('anonimo')"> Anonimo </ion-button>
  <ion-button color="medium" style="width: 48%" (click)="registrar('')"> Registrarse </ion-button>

  <app-camara-de-fotos (linkFoto)="asignarFoto()"> </app-camara-de-fotos>
  <app-scanner-dni class="clienteImage" (datosUsuario)="datosDeScanner()" [format]="'PDF_417'"></app-scanner-dni>

	<div id="snackbar">{{Mensajes}}</div>

</ion-content>
