
<ion-content [fullscreen]="true">

	<app-spinner [shouldISpin]="spinner"></app-spinner>

	<ion-title size="small" *ngIf="clientes.length == 0 && !spinner"> No hay Clientes en lista para mesa</ion-title>

  <ion-card *ngFor="let usuario of clientes; let i = index" color="medium">

    <ion-item color="medium">
      <ion-label style="margin: center;"class="ionLabel">{{usuario.apellido}}, {{usuario.nombre}}
      </ion-label>
    </ion-item>

    <ion-card-content color="medium">
      <ion-label *ngIf="usuario.dni" style="margin: center;"class="ionLabel">con documento: {{usuario.dni}}
      </ion-label>
      <ion-img color="medium" style="width: 45%; height: 45%; margin: auto;" src={{usuario.foto}} ></ion-img>

      
        <!--button class="tick" (click)="aceptar(usuario)"></!--button>
	  
        <button-- class="plus" (click)="denegar(usuario)"></button-->

    </ion-card-content>

  </ion-card>

</ion-content>