#snackbar {
	visibility: hidden;
	min-width: 250px;
	margin-left: -125px;
   
	color: #fff;
	text-align: center;
	border-radius: 2px;
	padding: 16px;
	position: fixed;
	z-index: 1;
	left: 50%;
	bottom: 30px;
	font-size: 17px;
  }
  #snackbar.Ganador {
	background-color: rgb(5, 159, 5);
  }
  #snackbar.Perdedor {
	background-color: #FF0000;
  }
  #snackbar.show {
	visibility: visible;
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }


/*
    width: 200px;
	height: 300px;
*/

  .clienteImage{
	width: 100%;
    height: 20%;
	display: block; 
	margin-left: auto; 
	margin-right: auto;
}


.QrImage{
	width: 60%;
	height:60%;
	display: block; 
	margin-left: auto; 
	margin-right: auto;
}